<h2 class="title">編輯個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, "使用者名稱" %><br />
      <%= f.text_field :username, autocomplete: "username", class: 'input' %>
  </div>

  <%= f.label :avatar, "使用者圖片" %>
  <div class="file has-name is-fullwidth">
    <label class="file-label">
      <%= f.file_field :avatar, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            選擇檔案
          </span>
        </span>
        <span class="file-name">
		pending params[:avatar].original_filename
        </span>
    </label>
  </div>
  <%= avatar(current_user) %>

  <div class="field">
    <%= f.label :intro, "使用者簡介" %><br />
      <%= f.text_area :intro, class: 'textarea' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'input' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "新密碼" %> <i>(若不變更密碼，保持空白)</i>
    <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    <% if @minimum_password_length %>
      <em class="help">長度至少<%= @minimum_password_length %>字元</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認新密碼" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>
  
  <% if false %>
  <%# 開發期間頻繁變更又不想重複輸入密碼，就先收起來 %>
  <div class="field">
    <%= f.label :current_password, "現行密碼" %> <i class="has-text-danger">必填</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
      <em class="help">輸入現行密碼確認上述變更</em>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "完成編輯", class: 'button is-primary' %>
  </div>
<% end %>
<hr />
<%= link_to "回上頁", :back, class: 'button is-dark' %>
